[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.python.org/simple/"
verify_ssl = true
name = "pypipython"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
statsmodels = "*"
scipy = "*"
bokeh = "*"
scikit-learn = "*"
pathlib = "*"
streamlit = "*"
ipykernel = "*"
jupyterlab = "*"
ydata-profiling = "*"
wordcloud = "*"
bs4 = "*"
nrclex = "*"
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.11"
