{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="text-center">
        <h1 class="mb-4">Feature Importance</h1>
        <div id="feature" class="row"></div>
        <hr>
        <!-- Placeholder for the tooltip -->
        <div id="vis-tooltip" class="vg-tooltip"></div>
    </div>

    <div class="text-center mt-5">
        <h1>ROC: {{ auc }}</h1>
        <img src={{ url_for('static', filename= 'ROC_curve_for_decision_tree_classifier.png' ) }} class="img-fluid">
    </div>
</div>

<!-- Render Charts -->
<script type="text/javascript">
    function parse(url, div) {
        var opt = {
            mode: "vega-lite",
            renderer: "svg",
            actions: {export: true, source: false, editor: false}
        };

        vegaEmbed("#"+div, url, opt).then(function(result) {
            vegaTooltip.vegaLite(result.view, url);
        }).catch(console.error);
    }

    parse("/dt_features", "feature");
</script>
{% endblock %}
